#bank-image
{
    width: 600px;
}
#_01
{
    width:  50%;
    margin: 2rem;
}
#bank-img
{
    width: 600px;
    margin: auto;

}
#mainsec
{
    display: flex;
    padding: 3rem 0 3rem 0;
}
#h1size
{
    font-size: 50px;
    margin-top: 0;
}
#psize
{
    text-align: justify;
}
#head-image
{
    width: 140px;
    height: 70px;
    float: right;
    margin: 50px 50px 0 0;
}