#bank-image
{
    width: 450px;
}
#_01
{
    width:  60%;
    
}
#bank-img
{
    width: 450px;
    margin: auto;

}
#mainsec
{
    display: flex;
    margin-bottom: 7rem;
}
#h1size
{
    font-size: 50px;
}