.nav{
    background-color: #1a1a1a;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover{
    color: #d33f52;
    text-decoration: none;
}

header{
    position: relative;
    padding: 1 4rem;
}

.navbar{
    width: 100%;
    height: 120px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    padding-left: 40px;
    padding-right: 40px;
}

#logo{
    width: 140px;
    height: 70px;
}

/*
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
*/
.navbar .links{
    display: flex;
    gap: 4rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: #d33f52;
    color: white;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu{
    z-index: 1;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}